.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: rgb(22, 196, 22);
    display: block;
}

.Logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
}

.HomeButton {
    position: absolute;
    top: 0;
    left: 10%;
    width: 10%;
    height: 100%;
}

.HomeButton:hover {
    background-color: rgb(12, 230, 0)
}